@charset "UTF-8";

	#buttonsArea {
		background-color: #b02524;
		border: 10px solid #b02524;    
		width: 100%;
		text-align: center;
	}

	#buttonsBar {
		margin: 0 auto;
		display: inline-block;
	}

    .buttons {
	    position: relative;
	    color: white;
	    background-color: #9a201f;
	    border: 5px solid #b02524;
	    width: 163px;
	    height: 60px;
	    float: left;
	    font-weight: bold; 
  		text-transform: uppercase;
	}
	
	.buttonText {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		width: 100%;
		
		white-space: pre-wrap; /* css-3 */    
	    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	    white-space: -pre-wrap; /* Opera 4-6 */    
	    white-space: -o-pre-wrap; /* Opera 7 */    
	    word-wrap: break-word; /* Internet Explorer 5.5+ */

	}

	/* =Responsive Structure
	----------------------------------------------- */
	@media (max-width: 1000px) {

		#buttonsBar {
			width: 510px;
		}
	}

	@media (max-width: 510px) {

		#buttonsBar {
			width: 340px;
		}
	}

	@media (max-width: 350px) {

		#buttonsBar {
			width: 170px;
		}
	}