@charset "UTF-8";

	#hostContainer {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 40px;
		/*border: 1px solid red;*/
	}

	#hostContainerInner {
    	max-width: 475px;
    	margin: 0 auto;
	}

	#host {
		display: none;
		margin: 0 auto;
		margin-top: 5px;
		color: #FFFFFF;
		font-weight: normal;
		font-size: 10pt;
		/*background-color: #f3f1f1;*/
		/*border: 1px solid yellowgreen;*/
	}

	#hostPictureBox, #hostInfoBox {
		float: left;
		display: block;
	}

	#hostPictureBox {
		width: 30%;
		padding-top: 10px;
		padding-bottom: 5px;
	}

	#hostPicture {
		/*height: 100%;*/
	}

	#hostPicImg {
	    display: inline-block;
    	vertical-align: middle;
    	width: 100%;
    	/*height:  160px;*/
	    /*border: 2px solid #827F7F;*/
	}

	#hostInfoBox {
		width: 70%;
		height: auto;
		font-weight: bold;
		color: black;
		padding-top: 10px;
    		padding-bottom: 5px;
	}

	#hostName {
		font-size: 20px;
		text-align: center;
	}

	#hostTitle {
		font-weight: normal;
		line-height: 16px;
		font-size: 16px;
		text-align: center;
	}

	#hostEmail {
		font-weight: normal;
		line-height: 16px;
		font-size: 16px;
		text-align: center;
	}

	.hostText {
		float: left;
		width: 55px;
	}

	#hostPhone, #hostCell {
		font-weight: normal;
		line-height: 16px;
		font-size: 16px;
		width: 160px;
		margin: 0 auto;
	}

	#hostPhone a:link, a:visited, a:hover, a:active {
	    color: #ff3e3e;
	}

	#hostEmail a:link, a:visited, a:hover, a:active {
	    color: #ff3e3e;
	}

	/*----------------------------------------------- */
	/*  Responsive Structure
	/*----------------------------------------------- */
	@media (max-width: 1112px) {

       #hostContainer {
			width: 40%;
			float: left;
			margin-top: 45px;
		}

		#hostContainerInner {
			width: 90%;
			margin: 0 auto;

		}

		#hostInfoBox {
	    	 width: 100%;
	    }

	    #hostPictureBox, #hostInfoBox {
	    	float: none;
        	display: block;
	    	margin: 0 auto;
    		text-align: center;
       }

	}

	@media (max-width: 800px) {

		#hostContainer {
			width: 100%;
			float: none;
			margin-top: 45px;
		}

		#hostContainerInner {
			margin: 0 auto;
    		margin-top: 0px;
		}
	}

	@media (max-width: 640px) {

		#hostContainer {
			width: 100%;
			float: left;
			margin-top: 0px;
		}

		#hostContainerInner {
			margin: 0 auto;
    		margin-top: 0px;
		}

		#host {
	    	/*width: 460px;*/
	    	padding: 5px 5px 5px 5px;
	    }
	}

	@media (max-width: 480px) {

		#hostContainer {
			width: 100%;
			float: none;
			margin-top: 0px;
		}

		#hostContainerInner {
			margin: 0 auto;
    		margin-top: 0px;
		}

		#host {
	    	/*width: 460px;*/
	    	padding: 5px 5px 5px 5px;
	    }
	}

	@media (max-width: 450px) {

		#hostContainer {
			width: 100%;
			float: none;
			margin-top: 0px;
		}

		#hostContainerInner {
			width: 100%;
			float: none;
			margin: 0 auto;
    		margin-top: 0px;
		}

		#host {
	    	/*width: 300px;*/
	    }

	    #hostPictureBox, #hostInfoBox {
	    	float: none;
        	display: block;
	    	margin: 0 auto;
    		text-align: center;
       }
	}

	@media (max-width: 320px) {

		#hostContainer {
			width: 100%;
			float: none;
			margin-top: 0px;
		}

		#hostContainerInner {
			width: 100%;
			float: none;
			margin: 0 auto;
    		margin-top: 0px;
		}

		#hostEmail {
		    font-size: 12px;
		}

		#hostPhone {
		    font-size: 12px;
		}
	}


