
#main {
    background-color: #ffffff;
}

.slick-dots li {
    width: 19px !important;
}


#mosCenter {
	width: 100%;
}

#mosContentWrapper {
    width: 100%;
}

#mosContentBox {
    width: 100%;
}

#mosCenterleft {
    width: 63%;
}

#mosCenterRight {
    width: 37%;
}

#mosContainer {
    background-color: #fff;
}

input[type="text"], input[type="number"], textarea, select {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

#sliderContent {
    width: 68%;
}

#choicesSliderThumbTitle {
   min-height: 26px;
}

#mosSliderContent {
    width: 65%;
}

#choicesSliderTitle {
	text-align: center;
	font-size: 16px;
    line-height: 18px;
    padding-bottom: 5px;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

#mosLoginFormLine label {
	font-size: 16px;
}

#helpArea {
    text-align: left;
}

.mosSignup label {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Lato, Arial, sans-serif;
	line-height: 2;
}

.mosSignup input {
    margin: 0;
}

#MemberBirthdateMonth, #MemberBirthdateDay, #MemberBirthdateYear {
	width: 104px;
}

#buttonsBarRoom {
	float: left;
    width: 184px;
    margin: 0 auto;
}


#buttonBarTitle {
	/*display: none;*/
    font-weight: bold;
}

.buttonText {
    width: 76%;
    text-align: center;
}

.page-introduction > h2 {
	/*padding: 0px 60px 0px 60px;*/
	text-align: center;
	font-size: 22px;
    text-align: center;
    color: #fff;
}

#bookletTitle h2 {
	padding: 0;
	text-align: center;
	/*display: none;*/
}

#bookletTitle > h2 {
	padding: 0;
	text-align: center;
}

.default-page-content {
	padding: 45px 25px 85px 25px;
    /* padding: 45px 85px 85px 85px; */
}

#hostContainer {
    margin-bottom: 10px;
}

#hostPictureBox {
    width: 110px;
    margin: 0 auto;
    padding-top: 0px;
}

#hostPictureBox, #hostInfoBox {
    float: none;
}

#hostInfoBox {
    width: 90%;
    margin: 0 auto;
}

#hostName {
    font-size: 18px;
}

 #hostEmail, #hostPhone, #hostCell {
    font-size: 14px;
}

#hostName, #hostTitle, #hostEmail {
    text-align: center;
}

#hostEmail a:link, a:visited, a:hover, a:active {
    color: #770f14;
}

#hostPhone, #hostCell {
	width: 155px;
    margin: 0 auto;
     line-height: unset;
}

#buttonsArea {
	/*background-color: #f3f3f3;*/
    background-color: #ffffff;
    border: 5px solid #ffffff;
}

.buttons {
	background-color: #770f14;
    border: 5px solid #770f14;
    width: 184px;
    font-size: 12px;
    line-height: 17px;
}

.buttons a {
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.buttons a:link, a:visited, a:hover, a:active {
    color: #ffffff;
}

#helpArea a {
    color: #333333;
}

#eStatementContainer {
    width: 55%;
    float: left;
}

#mosCustomerInfoContainer {
    width: 45%;
    float: left;
    /*border: 1px solid yellowgreen;*/
}

#mosCustomerInfoWrapper {
	/*margin-top: 15px;*/
	margin-left: 5px;
    margin-right: 5px;
    height: 135px;
}

.mosCustomerInfoField {
	font-size: 14px;
	white-space: nowrap;
	min-width: 115px;
}

.mosWinLoss a {
    color: #ba2025;
	font-size: 14px;
	margin-top: 10px;
}

a.mosWinLoss:visited, a.mosWinLoss:hover, a.mosWinLoss:active,{
	color: #ba2025;
}

#welcome {
	display: none;
}

#promoGridBoxImage {
    border: 0;
}

#promoGridBox {
    margin-bottom: 20px;
}

#promos {
    margin-top: 40px;
}

#pointsBalance, #progressbarIndex div {
    font-size: 14px;
}

.progressbarIndexValue1, .progressbarIndexValue2, .progressbarIndexValue3, .progressbarIndexValue4 {
    font-size: 14px;
}

button, .button, .comment-reply-link, #submit {
	left: unset;
}

.mos-prev-small, .mos-next-small {
    width: 22px !important;
    height: 23px !important;
}

li.slick-active > button {
    opacity: 1 !important;
    color: black !important;
}

.slick-dots li button {
	opacity: .45;
    background-color: white !important;
}

button, .button, .comment-reply-link, #submit {
    background: #770f14;
}

:focus {
	outline: unset;
}

/********************************************/
/* needed for sliderForBookletPopup - Start */
/********************************************/

#mosPopupCenter {
    background-color: white;
    padding-bottom: 20px;
}

.mos-next-medium {
    background-image: url(icon-next-30.png) !important;
    background-color: #770f14 !important;
}

.mos-prev-medium {
    background-image: url(icon-prev-30.png) !important;
    background-color: #770f14 !important;
}


.mos-next-small {
    background-color: #770f14;
}

.mos-prev-small {
    background-color: #770f14;
}

/*
button.mos-next-medium:focus, button.mos-next-medium:hover {
	background-image: url(icon-next-30.png) !important;
}

button.mos-prev-medium:focus, button.mos-prev-medium:hover {
	background-image: url(icon-prev-30.png) !important;
}
*/


a.w3-closebtn {
	color: #ba2025;
}

/********************************************/
/* needed for sliderForBookletPopup - End   */
/********************************************/


/************************************************/
/*  eStatement Area                             */
/************************************************/

#eStatementContainer {
    margin-bottom: 20px;
    margin-top: 15px;
    /*background-color: rgba(244,246,248,1);*/
}

#eStatement {
	width: 100%;
	float: left;
	/*display: none;*/
}

#membershipSection {
    /*float: left;*/
    width: 60%;
    display: none;
}

#pointsBalanceSection {
   /*float: left;*/
   width: 100%;
}

#eProgressBar {
    width: 230px;
}

#pointsBalance {
    font-size: 14px;
}

.progressbarIndexValue1 {
    width: 0px;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
}
.progressbarIndexValue2 {
    width: 105px;
    /*text-align: center;*/
    font-family: arial, helvetica, sans-serif;
}
.progressbarIndexValue3 {
    width: 125px;
    /*text-align: center;*/
    font-family: arial, helvetica, sans-serif;
}
.progressbarIndexValue4 {
    display: none;
    width: 60px;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
}

#progressbarIndicator {
    height: 20px;
}

.progressbarIndicatorLine1, .progressbarIndicatorLine3, .progressbarIndicatorLine4 {
	display: none;
}

.progressbarIndicatorLine2 {
	width: 93px;
}

#pointsArea {
    width: 100%;
    padding-left: 25px;
    font-size: 14px;
}

#pointsAreaRowText {
	float: left;
	width: 60%;
	font-weight: bold;
}

#pointsAreaRowValue {
	float: left;
	width: 40%;
	text-align: left;
}

#progressbarIndex div {
    font-size: 14px;
}

#progressbarIndicator2 {
	display: none;
}

#cardMsg {
	display: none;
    float: left;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

/*
button:focus, button:hover {
    background: unset !important;
    -webkit-transition: unset !important;
    transition: unset !important;
}
*/

button, .button, .comment-reply-link, #submit {
    background: unset !important;
}

.slick-prev {
    left: -35px;
    background: url();
    background-image: url(icon-prev-30.png) !important;
    background-repeat: no-repeat !important;
    width: 25px;
    height: 25px;
}

.slick-prev:hover, .slick-prev:focus {
    background: unset !important;
    background-image: url(icon-prev-30.png) !important;
    background-repeat: no-repeat !important;
    width: 25px;
    height: 25px;

}

.slick-next:hover, .slick-next:focus {
    background: unset !important;
    background-image: url(icon-next-30.png) !important;
    background-repeat: no-repeat !important;
    width: 25px;
    height: 25px;

}

.slick-next {
    right: -35px;
    background: url();
    background-image: url(icon-next-30.png) !important;
    background-repeat: no-repeat !important;
    width: 25px;
    height: 25px;
}

.slick-dotted.slick-slider {
    margin-bottom: 10px;
}

.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.oneSlide {
	/*
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    */
}

.regular img {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	border-top: 1px solid rgba(0,0,0,0.75);
}

.regular {
	display: none;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select {
    margin: 0 0 8px 0;
}

#execphp-4.center {
	position: relative;
}

.execphpwidget > .center {
    position: relative;
    top: 0;
}

.tradewinds {
	background-color: transparent;
	background-image: url(Tradewinds-174x50.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.pulse {
	/*display: none;*/
	background-color: #fff;
	background-image: url(Pulse-174x50.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-left: 2px;
}

#mosLogout {
	float: right;
}

/*
#mosLogout > div {
	float: right; color: white;  width: 100px; height: 100%; border: 1px solid white; text-align: center;
}

#mosLogout > div > a {
	color: white; width: 100%; height: 100%; display: block;
}
*/

.splashLink {
	color: black !important;
}

#MOS-Offers {
    margin-top: 40px;;
}

.WinLossPrint {
	display: block;
	width: 50%;
	font-size: 14px;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 5px;

	margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Lato, Arial, sans-serif;
    background-color: lightgrey;
}

.WinLossPrint:focus, .WinLossPrint:hover {
	background-color: lightgrey;
}

.WinLossPrint a  {
	display: block;
	color: #ba2025;
	text-decoration: none;
	font-weight: bold;
}

.WinLossPrint a:hover {
	color: #ba2025;
}

#mosW2GDivContainer {
	margin: 0 auto;
}

#mosPopupW2G {
    z-index: 3;
    display: none;
    padding-top: 25px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
}

/***************************************************/
/* Responsive Structure */
/***************************************************/

@media only screen and (max-width: 1366px) {

	#hostInfoBox {
	    width: 100%;
	}

	#sliderContent {
	    width: 55%;
	    margin: 0 auto;
	}
}

@media only screen and (max-width: 1112px) {
/*@media only screen and (max-width: 1024px) {*/

	#hostContainer {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#mosCenterleft, #mosCenterRight {
	    width: 100% !important;
	}

	#sliderContent {
	    width: 49%;
	    margin: 0 auto;
	}

	#buttonsBar {
	    width: 500px;
	}

	.buttons {
	    margin: 0 auto;
	    float: left;
    	width: 165px;
	}

	.lb-nav {
	    display: block !important;
	}
}

@media only screen and (max-width: 850px) {  // Dover Downs Only
/*@media only screen and (max-width: 800px) {*/

	#mosCenterleft, #mosCenterRight {
	    width: 100% !important;
	}

	#sliderContent {
	    width: 80%;
	    margin: 0 auto;
	}

	#buttonsBarRoom {
		float: none;
	}

	#buttonsBar {
	    width: 500px;
	}

	#buttonsBarRoom > #buttonBarTitle {
	    display: none;
	}

	#buttonBarTitle {
	    margin-top: 30px;
	    font-weight: bold;
	}

	.buttons {
	    margin: 0 auto;
	    float: left;
	}

	.micheles {
	    border-left: 0;
	}

	.sugarfactory {
		border-bottom: 5px solid #770f14;
	    border-left: 0;
	}

	.book-a-room > a {
		width: 61% !important;
	}

	button, .button, .comment-reply-link, #submit {
    	background: unset !important;
	}

	.lb-nav {
	    display: block !important;
	}
}

@media only screen and (max-width: 768px) {

	button, .button, .comment-reply-link, #submit {
    	background: unset !important;
	}

	#mosContentLogin {
	    width: 75%;
	}

	#mosW2GDiv {
		transform: scale(.97);
	    -webkit-transform: scale(.97);
	    -moz-transform: scale(.97);
	    -o-transform: scale(.97);
	    transform-origin: left top;
	}
}

@media only screen and (max-width: 750px) {

	#buttonsBar {
	    width: 100%;
	}

	.buttons {
	    margin: 0 auto;
	    float: none;
	}

	.longos {
	    border-bottom: 0;
	}

	.micheles {
	    border-bottom: 0;
	    border-left: 5px solid #770f14;
	}

	.sugarfactory {
		border-bottom: 5px solid #770f14;
	    border-left: 5px solid #770f14;
	}

	.lb-nav {
	    display: block !important;
	}

	#mosW2GDiv {
	    transform: scale(.83);
	    -webkit-transform: scale(.83);
	    -moz-transform: scale(.83);
	    -o-transform: scale(.83);
	    transform-origin: left top;
	}
}

@media only screen and (max-width: 653px) {
	#buttonsBar {
	    width: 500px;
	}

	.lb-nav {
	    display: block !important;
	}

	#mosW2GDiv {
	    transform: scale(.68);
	    -webkit-transform: scale(.68);
	    -moz-transform: scale(.68);
	    -o-transform: scale(.68);
	    transform-origin: left top;
	}
}

@media only screen and (max-width: 640px) {

	#mosCenterleft, #mosCenterRight {
	    width: 100%;
	}

	#eStatementContainer {
		width: 50%;
		float: left;
	}

	#sliderContent {
	    width: 70%;
	    margin: 0 auto;
	}

	#mosCustomerInfoContainer {
		width: 50%;
		float: left;
	}

	.mosCustomerInfoField, .mosWinLoss {
	    text-align: center;
	}

	#buttonsArea {
	    margin-bottom: 20px;
	}

	#buttonsBar {
    	width: 500px;
    	margin: 0 auto;
	}

	.buttons {
		float: left;
    	width: 153px;
	}

	.longos {
		border-bottom: 5px solid #770f14;
	}

	.micheles {
	    border-left: 0;
		border-bottom: 5px solid #770f14;
	}

	.sugarfactory {
		border-bottom: 5px solid #770f14;
	    border-left: 0;
	}

	.slick-dotted.slick-slider {
	    margin-bottom: 0px;
	}

	.mos-prev-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.mos-next-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-next-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.tab-bar-section {
	    position: unset;
	}

	.lb-nav {
	    display: block !important;
	}

	#mosW2GDiv {
	    transform: scale(.68);
	    -webkit-transform: scale(.68);
	    -moz-transform: scale(.68);
	    -o-transform: scale(.68);
	    transform-origin: left top;
	}
}


@media only screen and (max-width: 450px) {

	#mosCustomerInfoContainer {
		width: 100%;
		float: none;
		margin: 0 auto;
	}

	#eStatementContainer {
	    width: 100%;
	    float: none;
	}

	#buttonsBar {
	    width: 100%;
	}

	.longos {
	    border-bottom: 0;
	}

	.micheles {
	    border-bottom: 0;
	    border-left: 5px solid #770f14;
	}

	.sugarfactory {
	    border-bottom: 5px solid #770f14;
	    border-left: 5px solid #770f14;
	}

	#pointsArea {
	    width: 270px;
	    margin: 0 auto;
	    margin-top: 50px;
	}

	.buttons {
		float: none;
	}

	.lb-nav {
	    display: none !important;
	}
}


@media only screen and (max-width: 414px) {

	#mosCenterleft, #mosCenterRight {
	    width: 100%;
	}

	#sliderContent {
	    width: 70%;
	    margin: 0 auto;
	}

	#eStatementContainer {
	    width: 100%;
	    float: none;
	}

	#mosCustomerInfoContainer {
	    width: 100%;
	    float: none;
	}

	.mosCustomerInfoField, .mosWinLoss {
	    text-align: center;
	}

	#buttonsBarRoom {
		float: none;
	}

	#buttonsBar {
	    width: 100%;
	}

	#buttonsBarRoom > #buttonBarTitle {
	    display: none;
	}

	#buttonBarTitle {
	    margin-top: 30px;
	}

	.buttons {
	    margin: 0 auto;
	    float: none;
	}

	.sugarfactory {
	        border-bottom: 5px solid #770f14;
	}

	.slick-dotted.slick-slider {
	    margin-bottom: 0px;
	}

	.mos-prev-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.mos-next-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-next-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.tab-bar-section {
	    position: unset;
	}

	.page-introduction h2 {
	    padding: 0px;
	}

	#mosLogout {
	    margin-bottom: 10px;
	}

	button, .button, .comment-reply-link, #submit {
    	background: unset !important;
	}

	.lb-nav {
	    display: none !important;
	}

	#mosW2GDiv {
		transform: scale(.52);
	    -webkit-transform: scale(.52);
	    -moz-transform: scale(.52);
	    -o-transform: scale(.52);
	    transform-origin: left top;
	}
}

@media only screen and (max-width: 375px) {

	#mosCenterleft, #mosCenterRight {
	    width: 100%;
	}

	#eStatementContainer {
	    width: 100%;
	    float: none;
	}

	#mosCustomerInfoContainer {
	    width: 100%;
	    float: none;
	}

	.mosCustomerInfoField, .mosWinLoss {
	    text-align: center;
	}

	#buttonsBarRoom {
		float: none;
	}

	#buttonsBar {
	    width: 100%;
	}

	#buttonsBarRoom > #buttonBarTitle {
	    display: none;
	}

	#buttonBarTitle {
	    margin-top: 30px;
	}

	.buttons {
	    margin: 0 auto;
	    float: none;
	}

	.slick-dotted.slick-slider {
	    margin-bottom: 0px;
	}

	.mos-prev-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.mos-next-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-next-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.tab-bar-section {
	    position: unset;
	}

	.page-introduction h2 {
	    padding: 0px;
	}

	#mosLogout {
	    margin-bottom: 10px;
	}

	.lb-nav {
	    display: none !important;
	}

	#mosW2GDiv {
		transform: scale(.48);
	    -webkit-transform: scale(.48);
	    -moz-transform: scale(.48);
	    -o-transform: scale(.48);
	    transform-origin: left top;
	}
}


@media only screen and (max-width: 360px) {

	#mosCenterleft, #mosCenterRight {
	    width: 100%;
	}

	#eStatementContainer {
	    width: 100%;
	    float: none;
	}

	#mosCustomerInfoContainer {
	    width: 100%;
	    float: none;
	}

	#sliderContent {
	    width: 60%;
	    margin: 0 auto;
	}

	.mosCustomerInfoField, .mosWinLoss {
	    text-align: center;
	}

	#buttonsBarRoom {
		float: none;
	}

	#buttonsBar {
	    width: 100%;
	}

	#buttonsBarRoom > #buttonBarTitle {
	    display: none;
	}

	#buttonBarTitle {
	    margin-top: 30px;
	}

	.buttons {
	    margin: 0 auto;
	    float: none;
	}

	.longos {
	    border-bottom: 0;
	}

	.micheles {
	    border-bottom: 0;
	    border-left: 5px solid #770f14;
	}

	.sugarfactory {
		border-bottom: 5px solid #770f14;
	}

	.slick-dotted.slick-slider {
	    margin-bottom: 0px;
	}

	.mos-prev-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.mos-next-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-next-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.tab-bar-section {
	    position: unset;
	}

	#mosLogout {
	    margin-bottom: 10px;
	}

	.lb-nav {
	    display: none !important;
	}

	#mosW2GDiv {
		transform: scale(.45);
	    -webkit-transform: scale(.45);
	    -moz-transform: scale(.45);
	    -o-transform: scale(.45);
	    transform-origin: left top;
	}

}

@media only screen and (max-width: 320px) {

	#mosBody {
	    width: 100%;
	    padding: 0px;
	}

	#mosCenterleft, #mosCenterRight {
	    width: 100%;
	}

	#eStatementContainer {
	    width: 100%;
	    float: none;
	}

	#eProgressBar {
	    width: 100%;
	    float: none;
	    transform: scale(.95);
	    -webkit-transform: scale(.95);
	    -moz-transform: scale(.95);
	    -o-transform: scale(.95);
	}

	#mosCustomerInfoContainer {
	    width: 100%;
	    float: none;
	}

	.mosCustomerInfoField, .mosWinLoss {
	    text-align: center;
	}

	#buttonsBar {
	    width: 100%;
	    margin: 0 auto;
	}

	.buttons {
	    margin: 0 auto;
	    float: none;
	}

	.sugarfactory {
		border-bottom: 5px solid #770f14;
	}

	.slick-dotted.slick-slider {
	    margin-bottom: 0px;
	}

	.mos-prev-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.mos-next-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-next-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.tab-bar-section {
	    position: unset;
	}

	.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4 {
	    font-size: 16px;
	}

	.page-introduction h2 {
	    padding: 0px;
	}

	#mosLogout {
	    margin-bottom: 10px;
	    margin-right: 5px;
    	margin-top: 5px;
	}

	#mosContentLogin {
	    width: 95%;
	}

	.mosContentLoginTitle {
	    font-size: 16px;
	}

	#mosContentLogin p {
	    font-size: 15px;
	}

	.lb-nav {
	    display: none !important;
	}

	#mosW2GDiv {
		transform: scale(.40);
	    -webkit-transform: scale(.40);
	    -moz-transform: scale(.40);
	    -o-transform: scale(.40);
	    transform-origin: left top;
	}

}

@media only screen and (max-width: 280px) {

	#mosBody {
	    width: 100%;
	    padding: 0px;
	}

	#mosCenterleft, #mosCenterRight {
	    width: 100%;
	}

	#eStatementContainer {
	    width: 100%;
	    float: none;
	}

	#eProgressBar {
	    width: 100%;
	    float: none;
	     transform: scale(.95);
	    -webkit-transform: scale(.95);
	    -moz-transform: scale(.95);
	    -o-transform: scale(.95);
	}

	#mosCustomerInfoContainer {
	    width: 100%;
	    float: none;
	}

	.mosCustomerInfoField, .mosWinLoss {
	    text-align: center;
	}

	#buttonsBarRoom {
	    margin: 0 auto;
	}

	#buttonsBar {
	    width: 100%;
	    margin: 0 auto;
	}

	.buttons {
	    margin: 0 auto;
	    float: none;
	}

	.slick-dotted.slick-slider {
	    margin-bottom: 0px;
	}

	#pointsAreaRowText {
	    font-size: 12px;
	}

	.mos-prev-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.mos-next-medium {
	    background-image: url(../slick-1.8.0/slick/images/icon-next-20.png) !important;
	    width: 20px !important;
	    height: 20px !important;
	}

	.tab-bar-section {
	    position: unset;
	}

	.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4 {
	    font-size: 13px;
	}

	.page-introduction h2 {
	    padding: 0px;
	}

	#mosLogout {
	    margin-bottom: 10px;
	    margin-right: 5px;
    	margin-top: 5px;
	}

	.mosContentLoginTitle {
	    font-size: 16px;
	}

	#mosContentLogin p {
	    font-size: 15px;
	}

	.lb-nav {
	    display: none !important;
	}

	#mosW2GDiv {
		transform: scale(.35);
	    -webkit-transform: scale(.35);
	    -moz-transform: scale(.35);
	    -o-transform: scale(.35);
	    transform-origin: left top;
	}

	#hostEmail, #hostPhone, #hostCell {
	    font-size: 13px;
	}
}

