@charset "UTF-8";

	#promosWLoss {
	    margin: 0 auto;
	    width: 100%;
	    margin-bottom: 15px;
	}

	#promosTitleWLoss {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	#promoMsgWLoss {
	    /*max-width: 450px;*/
    	margin: 0 auto;
    	text-align: center;
   }

	/* Used for Scroll Box Layout
	----------------------------------------------- */

	#promoBoxesWLoss {
		margin: 0 auto;
		width: 94%;
		padding-left: 5px;
		padding-right: 5px;
		/*border: 2px solid red;*/
	}

	#promoNavWLoss {
		position: absolute;
		width: 100%;
		top: 40%;
		z-index: 1;
	}

	#promoNavPrevWLoss {
		float: left;
	}

	#promoNavNextWLoss {
		float: right;
	}

	/* Used for GridBox Layout
	----------------------------------------------- */

	#promoGridBoxesWLoss {
		/*width: 400px;*/
    	/*width: 100% !important;*/
    	margin: 0 auto;
    	/*border: 1px solid black;*/
	}

	#promoGridBoxWLoss {
		width: 100px;
    	height: 100%;
		display: inline-block;
	    margin: 2px;
		list-style: none;
		/*border: 1px solid red;
		padding: 10px;"*/
	}
	
	#promoGridBoxWrapperWLoss {
    	background-color: #f3f3f3;
    	padding-bottom: 20px;	
	}

	#promoGridBoxTextWLoss {
	 	line-height: 18px;
	    height: 40px;
	    vertical-align: bottom;
	    position: relative;
	    text-align: center;
	}
	
	.promoGridBoxTextDisplayWLoss {
	    position: absolute;
	    bottom: 5px;
	    text-align: center;
	    width: 100%; 
	    font-size: 14px;
	    line-height: 15px;
	}

	#promoGridBoxImageWLoss {
		/*background-color: #f3f1f1;*/
		/*height: 150px;*/
		/*border: 1px solid black;*/
	}

	#promoGridBoxImageWLoss img {
    	overflow: hidden;
	    /*height: 150px; 
		height: 80px;*/
		margin: 0px auto;
		display: block;
	}

	/* =Responsive Structure
	----------------------------------------------- */
	@media (max-width: 1280px) {

	 	#promoGridBoxesWLoss {
			width: 100%;
		}
	}
	
	@media (max-width: 950px) {

	 	#promoGridBoxesWLoss {
			/*width: 720px;*/
			/*margin-left: -20px; /* TS Only iframe fix */
			width: 100%;
		}
		/*
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
		*/
	}

	@media (max-width: 700px) {

	 	#promoGridBoxesWLoss {
			width: 515px		
			width: 100%;
		}
		/*
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
		*/
	}

	@media (max-width: 510px) {

		#promoGridBoxesWLoss {
			width: 300px;
			margin: 0 auto;
		}
		/*
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
		*/
	}
	
	@media (max-width: 414px) {
	
		#promoGridBoxesWLoss {
			width: 100%; 
			margin: 0 auto;
		}
	}
	
	@media (max-width: 360px) {
		
		#promoGridBoxesWLoss {
			width: 100%;
			margin: 0 auto;
		}
	}
	
		
	@media (max-width: 345px) {

		#promosWLoss {
			width: 100%;
			margin-left: 5px;
		}
	}
	/*
	@media (max-width: 330px) {

		#promoGridBoxesWLoss {
			margin-left: 0px;
		}
	}
	*/
	
	@media (max-width: 320px) {
	
		#promosWLoss {
			/*margin-left: 30px;*/
			width: 100%;
			margin: 0 auto;
		}
		
		.slick-prev {
    		left: -25px !important;
		}
		
		.slick-next {
    		right: -25px !important;
		}
	}