@charset "UTF-8";

	#sliderContainer {
		display: none;
		width: 100%;	
		margin: 0 auto;
		padding-top: 15px;
	}
	
	#sliderContainerInner {
	    width: 100%;
	    margin: 0 auto;
	}
	
	#sliderContent {
		width: 50%;
		margin: 0 auto;
		margin-top: 10px;
		/*border: 3px solid #0075ad;*/
	}

	#sliderBook { 
		 width: 100%;
		 margin: 0 auto;
	}
						
	#choicesSliderThumbTitle {
		font-size: 9px;
		text-align: center;
		margin-top: 5px;
	 	margin-bottom: 5px; 
	 	font-family: "Arial";  
	}
			
	.regular {
		margin-top: 10px !important;
	}
	
	.dots {
		margin-top: -25px;
	}
	
	#sliderTitle {
	 	/*display: none;*/
	 	padding-bottom: 20px;
	 	width: 340px;
		text-align: center;
		margin: 0 auto;
	}
	
	#sliderTitle h2, .h2 {		/* For RWC */
    		font-size: 24px;
	}
	
	#sliderMsg {
	    max-width: 450px;
    	margin: 0 auto;
    	text-align: center;
   	}

	/***************************************************/
	/* Responsive Structure */
	/***************************************************/
	
	@media only screen and (max-width: 1366px) {
	
		#sliderContent {
		   	width: 35%; 
		    margin: 0 auto;
		}
	}

	@media only screen and (max-width: 1280px) and (orientation:portrait) {
								
		.slick-dots li button {
			font-size: 14px;
		}
		
		.slick-dots li {
			width: 18px !important;
		}
	}
	
	@media only screen and (max-width: 1112px) and (orientation:landscape) {

		.slick-dots li button {
			font-size: 14px;
		}
		
		.slick-dots li {
			width: 18px !important;
		}
				
		#sliderContent {
		    width: 33%;
		    margin: 0 auto;
		}
	}
	
	@media only screen and (max-width: 1112px) and (orientation:portrait) {
			
		.slick-dots li button {
			font-size: 14px;
		}
		
		.slick-dots li {
			width: 18px !important;
		}
		
		#sliderContent {
		    width: 55%;
		    margin: 0 auto;
		}
	}

	@media only screen and (max-width: 800px) {

		.slick-dots li button {
			font-size: 14px;
		}
		
		.slick-dots li {
			width: 24px !important;
		}
		
		#sliderContent {
		    width: 58%;
		}
		
	}
	
	@media only screen and (max-width: 640px) {

		.slick-dots li button {
			font-size: 12px;
		}
		
		.slick-dots li {
			width: 16px !important;
		}	
			
	}
		
	@media only screen and (max-width: 480px) {
	
		.regular {
			/*display: none	!important;*/		
			display: none !important;		
			width: 100% !important;
		}
		
		#choicesSliderThumbTitle {
    		font-size: 8px;
		}

		.slick-dots li button {
			font-size: 12px;
		}
		
		.slick-dots li {
			width: 17px !important;
		}	
		
		#sliderContent {
		    width: 70%;
		}	

	}

	@media only screen and (max-width: 375px) {
	
		.regular {
			/*display: block !important;*/		
			display: none !important;		
			width: 100% !important;
		}
		
		#choicesSliderThumbTitle {
    		font-size: 7px;
		}
		
		.slick-dots li button {
			font-size: 12px;
		}
		
		.slick-dots li {
			width: 12px !important;
		}	

	}


	@media only screen and (max-width: 360px) {
	
		.regular {
			/*display: block !important;*/	
			display: none !important;			
			width: 100% !important;
		}
		
		#choicesSliderThumbTitle {
    		font-size: 7px;
		}
		
		.slick-dots li button {
			font-size: 12px;
		}
		
		.slick-dots li {
			width: 12px !important;
		}
		
	}


	@media only screen and (max-width: 320px) {
	
		.regular {
			/*display: block !important;*/
			display: none !important;		
			width: 100% !important;
		}
		
		#choicesSliderThumbTitle {
    		font-size: 7px;
		}
		
		#sliderContainer {				/* Adjust for book size which is responsive*/
			width: 100%;				/* adjust Booklet size */
			margin: 0 auto;
			margin-top: 10px;
		}
		
		.slick-dots li button {
			font-size: 12px;
		}
		
		.slick-dots li {
			width: 12px !important;
		}

	}