body {
    overflow-x: hidden;
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
}
.drag-second {
    display: flex;
    align-items: center;
    justify-content: center;
}
.drag-second div {
    display: flex;
}
.flipbook-viewport-second {
    overflow: hidden;
    width: 100%;
    /*height: 100%;*/
}

.flipbook-viewport-second .container {
    width: 100% !important;
    /*margin: 50px auto;*/
}

.flipbook-viewport-second .flipbook-second {
    left: 18px;
}

.flipbook-second .page {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-second .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.flipbook-second .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -o-box-shadow: 0 0 20px #ccc;
    -ms-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

[data-even]:before {
    content: attr(data-even)"";
    position: absolute;
    z-index: 111111;
    bottom: 10px;
    left: 10px;
    color: #7F7F7F;
    font-size: 28px;
    height: 35px;
    width: 35px;
    text-align: center;
}

[data-odd]:before {
    content: attr(data-odd)"";
    position: absolute;
    z-index: 111111;
    bottom: 10px;
    right: 10px;
    color: #7F7F7F;
    font-size: 28px;
    height: 35px;
    width: 35px;
    text-align: center;
}

.flipbook-viewport-second .double {
    width: 650px;
    height: 400px;
    background-size: 100% 100%;
}

.arrow-next {
    text-align: right;
}

#prev {}

#next {}

flipbook-slider-thumb-second {
    width: 100%;
}

.thumb-arrow {
    height: 20px;
}

.thumb-img {
    opacity: 1;
    height: 90px;
}
.left-img{
    margin-right: 10px;
}
.space{
    margin-right: 10px;
}
flipbook-slider-thumb-second .active {
    opacity: 1;
    height: 90px;
}

.flipbook-slick-dots-second {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

.flipbook-slick-dots-second li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

flipbook-slider-thumb-second .flipbook-slick-dots-second .dot-active a {
    color: #09c;
}

#prev-arrow {
    /* margin-bottom: 25px; */
    opacity: 1 !important;
    margin-right: 10px;
}

#next-arrow {
    /* margin-bottom: 25px; */
    opacity: 1 !important;
    margin-left: 10px;
}

.arrows {
    position: relative;
}

.arrow-prev {
    position: absolute;
    top: 50%;
    left: 0;
}

.arrow-next {
    position: absolute;
    top: 50%;
    right: -20px;
}

.tool-zoom {
	margin: 20px;
}




/* @media (max-width:768px){
    .arrows #prev {
        left: 15% !important;
        top: 15% !important;
    }

    .arrows #next {
        right: 15% !important;
        top: 15% !important;
    }
    .flipbook-viewport .container {
        top: 15% !important;
    }
    flipbook-slider-thumb-second {
        top: 25% !important;
    }
} */
